In [ ]:
!pip install lightfm

Collecting lightfm
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 30.4 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.0.0)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705354 sha256=ec88a68a7c9ad45435c7a18ee7c4708350e890dd565321051b8b641d0cefda97
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.16

In [ ]:
import pandas as pd
import numpy as np
from lightfm.data import Dataset
from scipy.io import mmwrite
from sklearn.model_selection import train_test_split
from lightfm import LightFM, cross_validation
from lightfm.evaluation import precision_at_k, auc_score

In [ ]:
data_path = '/content/drive/MyDrive/K-Digital training/파이널 프로젝트/data/'
data = pd.read_csv(data_path + 'fp_train_dataset.csv')

In [ ]:
data

        label   user_id                imp_id  ...  view_count content_count  count
0           0  11398944  97f9612d73d214f7a88e  ...           4           0.0    NaN
1           0  11501601  971a612d98320db51ae0  ...           9           0.5    NaN
2           0   1083083  97f9612e343117ec67ae  ...           1          -0.3    NaN
3           0   8924184  9919612e13c623135015  ...           3          -0.1    0.0
4           0    899007  97ca612db02a12527ae8  ...          20           1.6    0.0
...       ...       ...                   ...  ...         ...           ...    ...
575187      0    123120  99d1612dc92621f14bc3  ...           7           0.3    0.0
575188      0   4700908  99d1612ddb092235ee9d  ...           4           0.0    0.0
575189      0  11609078  9919612db34721995743  ...           1          -0.3    0.0
575190      0   1119616  971a612d0ffc0ca64a19  ...           1          -0.3    0.0
575191      1  13034220  97f9612d0c50144addec  ...           1          -0.3    0.0

[575192 rows x 41 columns]

In [ ]:
item_meta = data[['advertiser_id','advertiser_favorite_count','advertiser_grade','advertiser_interest_count']]

In [ ]:
item_meta

        advertiser_id  ...  advertiser_interest_count
0            12851816  ...                       4525
1             3947717  ...                      40305
2            10197556  ...                      11355
3             4507787  ...                       3658
4            74344938  ...                        986
...               ...  ...                        ...
575187          87148  ...                     115655
575188        4776936  ...                       1053
575189        8602749  ...                       1507
575190        4565332  ...                     245194
575191       10255755  ...                       3424

[575192 rows x 4 columns]

In [ ]:
item_meta['advertiser_favorite_count']

0         2131
1         7272
2         5649
3          146
4          812
          ...
575187    2183
575188     210
575189     357
575190    5816
575191    2063
Name: advertiser_favorite_count, Length: 575192, dtype: int64

In [ ]:
test = item_meta[item_meta['advertiser_id'] == 12851816].values[0][3]
test

4525

In [ ]:
data.drop(columns=['label',
 'imp_id',
 'content_id',
 'server_time_kst',
 'content_bid_price',
 'device_type',
 'c_user_gender',
 'c_user_age',
 'user_following_count',
 'user_pay_count',
 'user_parcel_post_count',
 'user_transfer_count',
 'user_chat_count',
 'content_name',
 'content_keyword',
 'content_price',
 'content_flag_used',
 'c_content_category_id_1',
 'c_content_category_id_2',
 'c_content_category_id_3',
 'content_emergency_count',
 'content_comment_count',
 'content_interest_count',
 'content_favorite_count',
 'advertiser_favorite_count',
 'advertiser_grade',
 'advertiser_item_count',
 'advertiser_interest_count',
 'advertiser_review_count',
 'advertiser_comment_count',
 'advertiser_follow_count',
 'advertiser_pay_count',
 'advertiser_parcel_post_count',
 'advertiser_transfer_count',
 'advertiser_chat_count',
 'hour',
'view_count',
 'count'], inplace=True)

In [ ]:
data

         user_id  advertiser_id  content_count
0       11398944       12851816            0.0
1       11501601        3947717            0.5
2        1083083       10197556           -0.3
3        8924184        4507787           -0.1
4         899007       74344938            1.6
...          ...            ...            ...
575187    123120          87148            0.3
575188   4700908        4776936            0.0
575189  11609078        8602749           -0.3
575190   1119616        4565332           -0.3
575191  13034220       10255755           -0.3

[575192 rows x 3 columns]

In [ ]:
ratings = data
ratings_source = [(ratings['user_id'][i], ratings['advertiser_id'][i]) for i in range(ratings.shape[0])]

In [ ]:
item_features_source = [(item_meta['advertiser_id'][i],
                        [item_meta['advertiser_favorite_count'][i],
                         item_meta['advertiser_grade'][i]]) for i in range(item_meta.shape[0])]

In [ ]:
dataset = Dataset()
dataset.fit(users=ratings['user_id'].unique(),
            items=ratings['advertiser_id'].unique(),
            item_features=item_meta[item_meta.columns[1:]].values.flatten()
            )

In [ ]:
interactions, weights = dataset.build_interactions(ratings_source)
item_features = dataset.build_item_features(item_features_source)

In [ ]:
# Split Train, Test data
# train, test = train_test_split(interactions, test_size=0.1)
train, test = cross_validation.random_train_test_split(interactions, test_percentage=0.1)
train, test = train.tocsr().tocoo(), test.tocsr().tocoo()
train_weights = train.multiply(weights).tocoo()

In [ ]:
from hyperopt import fmin, hp, tpe, Trials

# Define Search Space
trials = Trials()
space = [hp.choice('no_components', range(10, 50, 10)),
         hp.uniform('learning_rate', 0.01, 0.05)]

In [ ]:
# Define Objective Function
def objective(params):
    no_components, learning_rate = params

    model = LightFM(no_components=no_components,
                    learning_schedule='adagrad',
                    loss='warp',
                    learning_rate=learning_rate,
                    random_state=0)

    model.fit(interactions=train,
              item_features=item_features,
              sample_weight=train_weights,
              epochs=3,
              verbose=False)

    test_precision = precision_at_k(model, test, k=5, item_features=item_features).mean()
    print("no_comp: {}, lrn_rate: {:.5f}, precision: {:.5f}".format(
      no_components, learning_rate, test_precision))
    # test_auc = auc_score(model, test, item_features=item_features).mean()
    output = -test_precision

    if np.abs(output+1) < 0.01 or output < -1.0:
        output = 0.0

    return output

In [ ]:
best_params = fmin(fn=objective, space=space, algo=tpe.suggest, max_evals=10, trials=trials)

no_comp: 30, lrn_rate: 0.02251, precision: 0.14911
no_comp: 30, lrn_rate: 0.02564, precision: 0.15780
no_comp: 30, lrn_rate: 0.03518, precision: 0.17795
no_comp: 40, lrn_rate: 0.04393, precision: 0.19339
no_comp: 40, lrn_rate: 0.03950, precision: 0.18442
no_comp: 20, lrn_rate: 0.01010, precision: 0.10460
no_comp: 30, lrn_rate: 0.04648, precision: 0.19192
no_comp: 10, lrn_rate: 0.01688, precision: 0.10680
no_comp: 40, lrn_rate: 0.04810, precision: 0.19883
no_comp: 20, lrn_rate: 0.01336, precision: 0.11651
100%|██████████| 10/10 [00:18<00:00,  1.87s/it, best loss: -0.19882981479167938]

In [ ]:
no_components = 20
learning_rate = 0.04637

model = LightFM(no_components=no_components,
                    learning_schedule='adagrad',
                    loss='warp',
                    learning_rate=learning_rate,
                    random_state=0)

model.fit(interactions=train,
              item_features=item_features,
              sample_weight=train_weights,
              epochs=3,
              verbose=False)

In [ ]:
# Find Similar Items
item_biases, item_embeddings = model.get_item_representations(features=item_features)

def make_best_items_report(item_embeddings, advertiser_id, num_search_items=10):
    item_id = list(item_meta['advertiser_id']).index(advertiser_id) 

    # Cosine similarity
    scores = item_embeddings.dot(item_embeddings[item_id])  # (10000, )
    item_norms = np.linalg.norm(item_embeddings, axis=1)    # (10000, )
    item_norms[item_norms == 0] = 1e-10
    scores /= item_norms

    # best: score가 제일 높은 item의 id를 num_search_items 개 만큼 가져온다.
    best = np.argpartition(scores, -num_search_items)[-num_search_items:]
    similar_item_id_and_scores = sorted(zip(best, scores[best] / item_norms[item_id]),
                                        key=lambda x: -x[1])

    # Report를 작성할 pandas dataframe
    best_items = pd.DataFrame(columns=['advertiser_id', 'advertiser_favorite_count', 'advertiser_grade', 'score'])

    for similar_item_id, score in similar_item_id_and_scores:
        advertiser_id = item_meta['advertiser_id'][similar_item_id]
        advertiser_favorite_count = item_meta[item_meta['advertiser_id'] == advertiser_id].values[0][1]
        advertiser_grade = item_meta[item_meta['advertiser_id'] == advertiser_id].values[0][2]


        row = pd.Series([advertiser_id, advertiser_favorite_count, advertiser_grade, score], index=best_items.columns)
        best_items = best_items.append(row, ignore_index=True)

    return best_items


# book_id 2: Harry Potter and the Philosopher's Stone by J.K. Rowling, Mary GrandPré
# book_id 9: Angels & Demons by Dan Brown
report01 = make_best_items_report(item_embeddings, 12851816, 10)
report02 = make_best_items_report(item_embeddings, 74344938, 10)

In [ ]:
report01

   advertiser_id  advertiser_favorite_count  advertiser_grade     score
0     12851816.0                     2131.0            5285.0  1.000000
1        87148.0                     2183.0           12120.0  0.973576
2     74689400.0                       29.0             511.0  0.929048
3      2790587.0                      322.0             963.0  0.922558
4     12851816.0                     2131.0            5285.0  0.920328
5      2498643.0                     3580.0            8444.0  0.915516
6      3947717.0                     7272.0           18135.0  0.888582
7     10197556.0                     5649.0           26531.0  0.882459
8       315781.0                      169.0            1572.0  0.879444
9        20993.0                      541.0             486.0  0.877004

In [ ]:
item_meta[22:]

        advertiser_id  ...  advertiser_interest_count
22              87148  ...                     115655
23           12851816  ...                       4525
24            8105166  ...                        846
25            2701783  ...                       2649
26           12851816  ...                       4525
...               ...  ...                        ...
575187          87148  ...                     115655
575188        4776936  ...                       1053
575189        8602749  ...                       1507
575190        4565332  ...                     245194
575191       10255755  ...                       3424

[575170 rows x 4 columns]

In [ ]:
report02

   advertiser_id  advertiser_favorite_count  advertiser_grade     score
0     74344938.0                      812.0              70.0  1.000000
1      3634682.0                      376.0            2952.0  0.934166
2      4776936.0                      210.0             532.0  0.917422
3     10197556.0                     5649.0           26531.0  0.895218
4      1494515.0                     7044.0           23571.0  0.875072
5     74344938.0                      812.0              70.0  0.839226
6     10197556.0                     5649.0           26531.0  0.771830
7      1266155.0                    13291.0           20847.0  0.767604
8     12851816.0                     2131.0            5285.0  0.739015
9      2487730.0                     1899.0            7673.0  0.738002